/* Importing fonts from Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@300&family=Roboto:wght@700&display=swap');

/* Applying the 'Roboto' font to all elements */
*{
    font-family: 'Roboto', sans-serif;
}

/*
    The top section of the page consists of a button that is aligned to the right and has some margins.
    The button has some padding and border radius, and its font is bold and sans-serif.
    When the button is hovered over, its background color changes and the cursor turns to a pointer.
    */
    .top {
        float: right;
        margin-top: 1%;
        margin-right: 1%;
    }
    
    .top button {
        padding: 5px 20px;
        border-radius: 13px;
        border: 2px solid;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        background-color: #a45ceb;
    }
    
    .top button:hover {
        background-color: #8216ee;
        cursor: pointer;
    }

/* Styling for the container with class 'youtube' */
.youtube{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Styling for the container with class 'img' */
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Styling for the body */
body{
    /* padding-bottom: 200px; */
    background-color: #D09AF7;
}

/* Styling for the h1 element */
h1{
    text-align: center;
    padding-right: 1%;
}

/* Styling for the container with class 'form' */
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for the img element */
img{
    height: auto;
    width: 80px;
}

/* Styling for the submit button */
.submit-btn{
    background-color: blueviolet;
}

/* Styling for the hover effect on the submit button */
.submit-btn:hover{
    background-color: rgb(109, 33, 180);
    cursor: pointer;
}