*{
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar{
    display: none;
}

.body{
    background-color: #D09AF7;
}
.top{
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}

.top button{
    padding: 5px 20px;
    border-radius: 13px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #a45ceb;
}

.top button:hover {
    background-color:#8216ee;
    cursor: pointer;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 15%;
    gap: 30px;
}

.cards .cardlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.cards .cardlist .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.cards .cardlist .card .images img{
    height: auto;
    width: 60px;
}

.cards .cardlist .card .text {
    font-family: 'Open Sans', sans-serif;
}

.card{
    background-color: white;
    opacity: 70%;
    padding: 10px 10px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.card:hover{
    background-color: #988ca1;
    padding: 25px;
    cursor: pointer;
}

.cards .cardlist .card .images {
    opacity: 100%;
    height: auto;
    width: 60px;
    padding: 2%;
    background-color:#a45ceb;
    border-radius: 50px;
}

.cards .cardlist .card .text{
    opacity: 100%;
}

.cards .cardlist .card .text p{
    font-size: 0.9rem;
}

@media screen and (max-width: 840px){
    .cards .cardlist .card .text h2{
        font-size: 1.2rem;
    }
    .cards .cardlist .card .text p{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 770px) {
    .cards{
        padding-top: 9%;
    }
    .cards .cardlist{
        flex-direction: column;
        gap: 20px;
    }
    .cards .cardlist .card .images img {
        margin-top: 5%;
        height: auto;
        width: 45px;
    }
}

@media screen and (max-width: 500px) {
    .cards .cardlist .card {
        flex-direction: column;
        text-align: center;
    }
}