/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

/* Set global styles for the page */
body,
html {
    width: 100%;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #e3ede8;
    background-image: linear-gradient(to right bottom, #080b51, #870057, #d13034, #e09100, #a8eb12);
    overflow: hidden;
    position: relative;
    outline: none;
    perspective: 1000px; /* Set 3D perspective for the page */
    margin: 0;
}

/* The top section of the page consists of a button that is aligned to the right and has some margins.
The button has some padding and border radius, and its font is bold and sans-serif.
When the button is hovered over, its background color changes and the cursor turns to a pointer.
*/ 
.top {
    text-align: right;
    margin: 1rem;
}

.top button {
    padding: 5px 20px;
    border-radius: 13px;
    border: 2px solid ;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: #ad12f5;
}

.top button:hover {
    background-color: #8216ee;
    cursor: pointer;
}

/* Set styles for the main calendar container */
.content-wrapper {
    position: absolute;
    width: 730px;
    height: 420px;
    top: 40%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    transition: all 0.195s ease;
    transform-style: preserve-3d; /* Set 3D perspective for the container */
}

/* Set styles for rotating the calendar to the left */
.content-wrapper.is-rotated-left {
    transform: translate(-50%, -50%) rotateY(-4deg);
}

/* Set styles for rotating the calendar to the right */
.content-wrapper.is-rotated-right {
    transform: translate(-50%, -50%) rotateY(4deg);
}

/* Set styles for the left and right sidebar containers */
.content-wrapper .left-wrapper,
.content-wrapper .right-wrapper {
    background-color: white;
    width: 50%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Set styles for the header section of the calendar */
.content-wrapper .header {
    padding: 15px 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Set styles for the arrow icons in the header section */
.content-wrapper .header i {
    padding: 0 5px;
    cursor: pointer;
}

/* Set styles for the month and year text in the header section */
.content-wrapper .header span {
    display: inline-block;
    margin: 0 3px;
    font-weight: 700;
}

/* Set styles for the right sidebar container */
.content-wrapper .right-wrapper {
    background-color: #a155ee;
    color: white;
    transform-origin: left center;
    transform: rotateY(110deg);
    transition: all 0.5s;
}

/* Set styles for showing the right sidebar container */
.content-wrapper .right-wrapper.is-active {
    transform: rotateY(0deg);
}

/* Set styles for the header section of the right sidebar */
.content-wrapper .right-wrapper .header {
    text-align: left;
    justify-content: center;
}

/* Set styles for the day number in the right sidebar */
.content-wrapper .right-wrapper .day {
    font-size: 12em;
    text-indent: -12px;
    display: block;
}

/* Set styles for the month name in the right sidebar */
.content-wrapper .right-wrapper .month {
    font-size: 2.5em;
}

/* Set styles for the date display in the left sidebar */
.content-wrapper .left-wrapper .showDate {
    color: white;
    text-align: right;
    width: 100%;
}

/* Set styles for the button to toggle the date display format */
.content-wrapper .left-wrapper .showDate i {
    cursor: pointer;
    background: #a155ee;
    border-radius: 4px;
    padding: 8px 12px;
    transform: scale(1);
    transition: all 0.3s;
}

/* Set styles for the active state of the date display format button */
.content-wrapper .left-wrapper .showDate i.is-active {
    transform: scale(-1);
}

/* Set styles for the table element containing the calendar dates */
.content-wrapper .left-wrapper table {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 90%;
    margin: 30px auto 0;
    table-layout: fixed;
    border-collapse: collapse;
}

/* Set styles for the horizontal divider lines in the table */
.content-wrapper .left-wrapper table tbody:before {
    content: "-";
    display: block;
    line-height: 0.75em;
    color: transparent;
}

/* Set styles for the table header cells */
.content-wrapper .left-wrapper table th {
    color: #a155ee;
    font-size: 0.75em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Set styles for the table cells containing calendar dates */
.content-wrapper .left-wrapper table td {
    padding: 11px 5px;
    color: #acacac;
    font-size: 0.75em;
    transition: all 0.3s;
    position: relative;
}

/* Set styles for the vertical divider lines in the table */
.content-wrapper .left-wrapper table td::before {
    content: "";
    display: none;
    width: 50%;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -8px);
    background-color: #a155ee;
}

/* Set styles for the vertical divider line in the table for the current day */
.content-wrapper .left-wrapper table td.currentDay::before {
    display: block;
}

/* Set styles for the selectable calendar dates */
.content-wrapper .left-wrapper table td.selectable {
    color: #080d0b;
    cursor: pointer;
}

/* Set styles for the hover state of selectable calendar dates */
.content-wrapper .left-wrapper table td.selectable:hover {
    background: #a155ee;
    color: white;
}

/* Set styles for the table cells between selected calendar dates */
.content-wrapper .left-wrapper table td.between {
    background: #a155ee;
    color: white;
}

/* Set styles for the active and hover states of selected calendar dates */
.content-wrapper .left-wrapper table td.active,
.content-wrapper .left-wrapper table td.hover {
    background: #a155ee;
    color: white;
}