/* Underline animation */
.link-underline {
  position: relative;
  text-decoration: none;
}

.link-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(229, 67, 67);
  transition: width 0.3s ease;
}

.link-underline:hover::after {
  width: 100%;
}
