/* This is the body of the document. */
body {
    font-family: 'Play', sans-serif;
    background: linear-gradient(90deg, #ab5ee3 0%, #9279a4 49%, #ab5ee3 100%);
    /* The color of the text is #570c0c. */
    /* color: #570c0c; */
}

/* This is the container for the main content of the document. */
.container {
    width: 80%;
    max-width: 500px;
    min-width: 250px;
    margin: 20px auto;
}

/* This is the heading for the main content of the document. */
h1 {
    margin-top: 20%;
    text-align: center;
    color: #6a019a;
}

/* This is a row of elements. */
.row {
    overflow: hidden;
}

/* This is a half-width column. */
.col-half {
    width: 50%;
    float: left;
}

/* This is a wrapper for a knob. */
.knob-wrapper {
    text-align: center;
}


/* This is the style for buttons. */
/* button styles */

.buttons {
    text-align: center;
    margin-top: 15px;
}

.buttons-mute {
    text-align: center;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    width: 80px;
    margin: 4px;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
}

.btn-green {
    color: rgb(22, 71, 22);
    border: 2px solid rgb(28, 94, 28);
    border-radius: 25px;
}

.btn-green:hover {
    background-color: rgb(107, 165, 107);
}

.btn-yellow {
    color: rgb(255, 255, 19);
    border: 2px solid rgb(255, 255, 19);
    border-radius: 25px;
}

.btn-yellow:hover {
    background-color: rgb(158, 158, 12);
}

.btn-red {
    color: black;
    border: 2px solid black;
    border-radius: 25px;
}

.btn-red:hover {
    background-color: rgb(139, 136, 136);
}

.btn-mute {
    width: 20px;
    margin: 4px;
    padding: 2px;
    color: #231a1a;
    font-size: 16px;
}

.btn-mute:hover {
    color: #5a4848;
}


/* This is the style for global overrides. */
/* global override styles */

.hidden {
    display: none;
}