/* Body of the document */
body {
    font-family: 'Play', sans-serif;
    background: linear-gradient(to right bottom, #080b51, #870057, #d13034, #e09100, #a8eb12) no-repeat;
    height: 97vh;
    /* Text color: #570c0c */
    color: #570c0c;
}

/* Top section */
.top {
    text-align: right;
    margin-top: 1%;
    margin-right: 2%;
}

.top button {
    border: 2px solid transparent;
    /* Added transparent border color */
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: #303030;
    border: 1px solid gray;
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 20px;
}

.top button:hover {
    background-color: gray;
    cursor: pointer;
}

/* Main content container */
.container {
    width: 80%;
    max-width: 500px;
    min-width: 250px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.85);
    /* Reduced opacity */
    padding: 2%;
    border-radius: 5%;
    border: 1px solid black;
}

/* Main content heading */
h1 {
    margin-top: 10%;
    text-align: center;
    color: #6a019a;
}

/* Row of elements */
.row {
    overflow: hidden;
}

/* Half-width column */
.col-half {
    width: 50%;
    float: left;
}

/* Knob wrapper */
.knob-wrapper {
    text-align: center;
}

/* Button styles */
.buttons,
.buttons-mute {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    width: 80px;
    margin: 4px;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
}

.btn-green {
    color: rgb(22, 71, 22);
    border: 2px solid rgb(28, 94, 28);
    border-radius: 25px;
}

.btn-green:hover {
    background-color: rgb(107, 165, 107);
}

.btn-yellow {
    color: rgb(255, 255, 19);
    border: 2px solid rgb(255, 255, 19);
    border-radius: 25px;
}

.btn-yellow:hover {
    background-color: rgb(158, 158, 12);
}

.btn-red {
    color: black;
    border: 2px solid black;
    border-radius: 25px;
}

.btn-red:hover {
    background-color: rgb(139, 136, 136);
}

.btn-mute {
    width: 20px;
    margin: 4px;
    padding: 2px;
    color: #231a1a;
    font-size: 16px;
}

.btn-mute:hover {
    color: #5a4848;
}

/* Global overrides */
.hidden {
    display: none;
}