/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@300&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  background-image: linear-gradient(to right bottom, #080b51, #870057, #d13034, #e09100, #a8eb12);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Setting default margin and padding to 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting smooth scroll behavior for the HTML element */
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

/* Hiding the scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* Navbar start */
nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 24px;
  height: 70px;
  align-items: center;
  position: sticky;
  top: 0px;
  box-shadow: 1px 1px 1px 0 #969595;
  background-color: black;
  z-index: 99;
}

.logo-text {
  cursor: pointer;
  font-size: 32px;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  color: #fff;
}

nav ul li a {
  text-decoration: none !important;
  padding: 10px;
  font-family: 'Montserrat';
  color: #fff;
}


.button-link {
  background-color: #303030;
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}


nav ul li a:hover {
  color: #f8f3f3 !important;
  font-size: larger;

}

.toggle-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.toggle-menu span {
  width: 30px;
  height: 3px;
  margin: 3px 0;
}

.menu-links,
.mobile-menu-icon {
  display: none;
}

@media(max-width: 768px) {
  .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }

  .mobile-menu-icon i {
    color: white;
    font-size: 1.5rem;
    transition: 0.4s;
  }

  .desktop-menu {
    display: none;
  }

  .menu-links {
    background-color: #00000067;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: -webkit-fill-available;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow: hidden;
    transition: max-height 1s ease -in;
  }

  .menu-links li a {
    padding: 10px;
  }

  .menu-links li {
    margin: 10px;
  }

  .menu-links.active {
    max-height: 600px;
  }

  .menu-links.menu-collapsed {
    max-height: 0;
    padding: 0;
  }
}

/* Navbar end */

.navbar button {
  /* background-color: #000000; */
  border: none;
  color: #000000;
  padding: 0.5rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.3rem 0.15rem;
  cursor: pointer;
  border-radius: 1.25rem;
  font-family: 'Gill Sans MT' sans-serif;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin-bottom: 20px;
  font-size: 22px;
}

button:hover {
  background-color: powderblue;
  color: black;
}

/* Styling for the landing section */
.land {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../Media/unsplash_EaFX0kRvXT8.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

/* Styling for the title in the landing section */
.land .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

/* Styling for the main title in the landing section */
.land .title h1,
span {
  opacity: 80%;
  font-size: 5rem;
}

/* Styling for the subtitle in the landing section */
.land .title h3 {
  opacity: 90%;
  font-size: 1.6rem;
}

/* Styling for the navigation bar */
.navbar {
  top: 0px;
  position: absolute;
  height: 80px;
  width: 100%;
  /* background-color:#000000; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: 'Cabin', sans-serif;; */
}

/* Styling for the navigation links */
.navwap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 115vh;
  font-size: 1.5rem;
  font-weight: 480;
  margin-top: 2rem;

}

@media(max-width: 768px) {

  .land.title h1,
  span {
    font-size: 2.4rem;
  }

  /* Styling for the subtitle in the landing section */
  .land.title h3 {
    font-size: 1.6rem;
  }
}

/* Media Query for smaller screens */
@media screen and (max-width: 1000px) {
  .navwap {
    gap: 100vh;
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 900px) {
  .navwap {
    gap: 80vh;
  }
}

/* Styling for the functional links */
.funcs ul {
  float: left;
  display: flex;
  flex-direction: row;
  gap: 100%;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-weight: bold;
  font-size: 22px;
  list-style-type: none;
}

.funcs {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 10px;

}


#l1 {
  margin-right: 10px;
  /* border-radius: 1.25rem; */

}

#l2 {
  margin-right: 10px;
  /* border-radius: 1.25rem; */
}


.navbar a {
  /* box-shadow: inset 0 0 0 0 #ffffff; */
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 -0.25rem;
  padding: 0rem 1rem;
  transition: background-color 0.2s linear, color 0.2s linear;
  /* transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
}

.navbar a:hover {
  border-radius: 1.5rem;
  background-color: plum;
  color: black;
}

/* Media Query for smaller screens */
@media screen and (max-width: 900px) {
  .funcs {
    gap: 80%;
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 800px) {
  .navwap {
    gap: 40vh;
  }


  /* Styling for the main title in the landing section on smaller screens */
  .land .title h1 {
    font-size: 3rem;
  }

  /* Styling for the subtitle in the landing section on smaller screens */
  .land .title h3 {
    font-size: 1.2rem;
  }
}

/* Styling for the about section */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10%;
}

/* Styling for the title in the about section */
.about .text h1 {
  color: #000000;
  font-size: 3rem;
  margin-bottom: 10%;
  font-family: "Open Sans", sans-serif;
}

/* Styling for the description in the about section */
.about {
  padding-left: 10%;
  padding-right: 10%;
}

.about h1 {
  color: #970c50 !important;
}

.about span {
  font-size: 3rem;
  color: white;
}

.description .row {
  padding-top: 5%;
  width: 100%;
  height: 100%;
}

.about .description img {

  border-top: solid black 5px;
  border-left: solid black 5px;
  border-right: solid white 5px;
  border-bottom: solid white 5px;
  border-radius: 10%;

}

.about .description p {
  font-size: 1.2rem;
  margin-bottom: 10%;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: justify;
  margin-left: 5%;
  margin-top: 2%;
}

/* Media Query for smaller screens */
@media screen and (max-width: 580px) {

  /* Decreasing the font size of the title in the about section */
  .about .text h1 {
    font-size: 2.2rem;
  }

  /* Decreasing the font size of the description in the about section */
  .about .description p {
    font-size: 0.8rem;
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 580px) {

  /* Decreasing the font size of the title in the about section */
  .about .text h1 {
    font-size: 2.1rem;
  }

  /* Decreasing the font size of the description in the about section */
  .about .description p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 330px) {
  .about .text h1 {
    font-size: 2rem;
  }

  .about .description p {
    font-size: 0.7rem;
  }
}

/* Styling for the features section */
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10%;
  font-family: "Open Sans", sans-serif;
}

/* Styling for the cards in the features section */
.features .cards {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

/* Styling for the individual card in the features section */
.features .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #d9d9d9;
  opacity: 80%;
  border-radius: 25px;
  padding: 5% 5%;
}

/* Styling for the logo in the individual card in the features section */
.features .card .lomgo img {
  height: auto;
  width: 50px;
}

/* Styling for the logo container in the individual card in the features section */
.features .card .lomgo {
  background-image: linear-gradient(to bottom, #080b51, #870057, #d13034, #e09100);
  border-radius: 50px;
  border-top: solid 5px white;
  border-left: solid 5px white;
  border-right: solid 5px black;
  border-bottom: solid 5px black;
  padding: 5% 5%;
  margin-top: 15%;
}

/* Styling for the heading in the features section */
.features .heading h1 {
  color: white;
  margin-bottom: 15%;
  font-size: 3rem;
}

/* Styling for the heading in the individual card in the features section */
.features .card .lomghead h3 {
  margin: 15% 0;
}

.features .lomghead span {
  font-size: 1.57rem;
  opacity: 100% !important;
}

/* Styling for the description in the individual card in the features section */
.features .card .lomgdisc p {
  margin-bottom: 10%;
}

/* Media Query for smaller screens */
@media screen and (max-width: 1000px) {

  /* Decreasing the font size of the description in the individual card in the features section */
  .features .card .lomgdisc p {
    font-size: 0.7rem;
  }

  /* Decreasing the font size of the heading in the individual card in the features section */
  .features .card .lomghead h3 {
    font-size: 0.9rem;
  }

  /* Decreasing the size of the logo in the individual card in the features section */
  .features .card .lomgo img {
    height: auto;
    width: 30px;
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 800px) {

  /* Changing the flex direction of the cards in the features section */
  .features .cards {
    flex-direction: column;
  }

  /* Decreasing the font size of the description in the individual card in the features section */
  .features .card .lomgdisc p {
    font-size: 0.9rem;
  }

  /* Decreasing the font size of the heading in the individual card in the features section */
  .features .card .lomghead h3 {
    font-size: 1rem;
  }

  /* Decreasing the size of the logo in the individual card in the features section */
  .features .card .lomgo img {
    height: auto;
    width: 30px;
  }
}

/* Styling for the footer section */
.footer {
  display: flex;
  padding: 2% 6%;
  background-color: black;
}

/* Styling for back-to-top button*/
#myBtn {
  border-radius: 50%;
  outline: none;
  border: 3px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  position: fixed;
  z-index: 99;
  cursor: pointer;
  padding: 10px;
  margin-right: 0px;
  margin-left: 5vw;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: all 250ms;
  right: 50px;
  bottom: 30px;
}

#myBtn:hover {
  background-color: #555;
  transform: scale(1.12);
}

/* Styling for the text in the footer section */
.footer p {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  color: white;
  justify-content: left;
}

/* Media Query for very small screens */
@media screen and (max-width: 500px) {
  .footer {
    padding: 4% 4%;
  }
  .footer p {
    font-size: 3vh;
  }
  .order-md-1 {
    order: 1;
  }
  .order-md-2 {
    order: 2;
  }
}


/* Media Query for narrow screens */
@media screen and (max-width: 330px) {

  /* Decreasing the font size of the heading in the about section */
  .about .text h1 {
    font-size: 2rem;
  }

  /* Decreasing the font size of the description in the about section */
  .about .description p {
    font-size: 0.7rem;
  }
}

.card:hover {
  background-color: #e9d11ae9;
  padding: 45px;
  cursor: pointer;
}

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  /* Center the icons horizontally */
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  border-radius: 50%;
  color: #ffee00;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  size: 500px;
  /* This line is not needed */
  font-size: 2em;
  /* Adjust the icon size as needed */
  margin: 10px;
  /* Adjust the margin as needed */
}

.social-icon li a:hover {
  color: #9000ff;
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
}

.box-contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-image: url(/De-SchoolMate/Images/pexels-kobe-1516440.jpg);
  object-fit: cover;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3);
  transition: .5s ease;
  border-radius: 25px;
}

.hover-point {
  position: absolute;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
}

.hover-point:nth-child(1) {
  top: 0;
  left: 0;
}

.hover-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}

.hover-point:nth-child(3) {
  top: 0;
  right: 0;
}

.hover-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}

.hover-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}

.hover-point:nth-child(6) {
  bottom: 0;
  left: 0;
}

.hover-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}

.hover-point:nth-child(8) {
  bottom: 0;
  right: 0;
}

.hover-point:nth-child(1):hover~.box-contents {
  box-shadow: 15px 15px 50px rgba(0, 0, 0, .3);
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}

.hover-point:nth-child(2):hover~.box-contents {
  box-shadow: 0 15px 50px rgba(0, 0, 0, .3);
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
}

.hover-point:nth-child(3):hover~.box-contents {
  box-shadow: -15px 15px 50px rgba(0, 0, 0, .3);
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}

.hover-point:nth-child(4):hover~.box-contents {
  box-shadow: 15px 5px 50px rgba(0, 0, 0, .3);
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}

.hover-point:nth-child(5):hover~.box-contents {
  box-shadow: -15px 5px 50px rgba(0, 0, 0, .3);
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
}

.hover-point:nth-child(6):hover~.box-contents {
  box-shadow: 15px -15px 50px rgba(0, 0, 0, .3);
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}

.hover-point:nth-child(7):hover~.box-contents {
  box-shadow: 0 -15px 50px rgba(0, 0, 0, .3);
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
}

.hover-point:nth-child(8):hover~.box-contents {
  box-shadow: -15px -15px 50px rgba(0, 0, 0, .3);
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}