/* Importing Google Fonts {Poppins} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Setting default margin and padding to 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting smooth scroll behavior for the HTML element */

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* Hiding the scrollbar */
body::-webkit-scrollbar {
  display: none;
}
/**************************/
/* HEADER  */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12.8rem;
  padding: 0 8rem;
  font-family: "Poppins", sans-serif;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #212529;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #212529;
  box-shadow: 0 0.4rem 4rem rgba(33, 37, 41, 0.15);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: rgba(33, 37, 41, 0.95);
}

.logo-header {
  height: 8rem;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 4.8rem;
  border-radius: 3.6rem;
  margin: 0 8rem;
  gap: 4.8rem;
  align-items: center;
  background-image: linear-gradient(to right bottom, #5f3dc4, #9775fa);
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2.4rem;
}

.name {
  color: #ed80fd;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #ed80fd;
  box-shadow: 0 0.4rem 4rem rgba(33, 37, 41, 0.15);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #ef8dfd;
  background-color: rgba(236, 128, 253, 0.9);
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(0px);
}
/**************************/
/* SECTION FEATURES */
/**************************/

.section-features {
  font-family: "Poppins", sans-serif;
  padding: 12.8rem 8rem;
}
.feature-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 8rem;
}
.heading-secondary {
  font-size: 4.8rem;
  color: #212529;
}
.description {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  width: 40%;
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.card {
  box-shadow: 0 0.4rem 4rem rgba(33, 37, 41, 0.15);
  border-radius: 2rem;
  padding: 4rem;
}
.feature-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.2rem;
}
.notes-img {
  height: 24rem;
}
.heading-tertiary {
  font-size: 2.4rem;
  color: #212529;
  margin-bottom: 1.6rem;
  font-weight: 600;
}
.heading-tertiary__style {
  color: #ed80fd;
}
.card-text {
  font-size: 1.6rem;
  color: #212529;
}
/**************************/
/* SECTION ABOUT  */
/**************************/

.section-about {
  background-color: #f3f0ff;
  font-family: "Poppins", sans-serif;
  padding: 8rem 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16rem;
  align-items: center;
}
.about-img {
  width: 100%;
}
.about-description {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.btn--about:link,
.btn--about:visited {
  margin-top: 4.8rem;
}
/**************************/
/* FOOTER */
/**************************/
/* Styling for the footer section */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 8rem;
  background-color: #212529;
}

/* Styling for the text in the footer section */
.copyright {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.logo-bottom {
  height: 8rem;
}
